<div class="technology-form">
  <h2>{{ isEditMode ? "Edit Technology" : "Add Technology" }}</h2>
  <form (ngSubmit)="saveTechnology()">
    <label for="name">Technology Name</label>
    <input id="name" [(ngModel)]="technology.name" name="name" required />

    <label for="description">Description</label>
    <textarea
      id="description"
      [(ngModel)]="technology.description"
      name="description"
      rows="4"
    ></textarea>

    <label for="age">Age</label>
    <select id="age" [(ngModel)]="technology.age" name="age" required>
      <ng-container *ngFor="let era of knownEras">
        <optgroup [label]="era.name">
          <option *ngFor="let age of era.ages" [value]="age.id">
            {{ age.name }}
          </option>
        </optgroup>
      </ng-container>
    </select>

    <label for="cost">Cost</label>
    <div class="cost">
      <ul>
        <li *ngFor="let cost of technology.cost">
          {{ cost.resourceId }}: {{ cost.amount }}
          <button type="button" (click)="removeCost(cost.resourceId)">
            Remove
          </button>
        </li>
      </ul>

      <div class="add-cost">
        <label for="resourceId">Resource</label>
        <select
          id="resourceId"
          [(ngModel)]="newCost.resourceId"
          name="resourceId"
        >
          <option [value]="null">Select Resource</option>
          <option
            *ngFor="let resource of resources"
            [value]="resource"
            [disabled]="isResourceAdded(resource)"
          >
            {{ resource }}
          </option>
        </select>

        <label for="amount">Amount</label>
        <input
          id="amount"
          type="number"
          [(ngModel)]="newCost.amount"
          name="amount"
          min="1"
        />

        <button type="button" (click)="addCost()">Add</button>
      </div>
    </div>

    <div class="button-group">
      <button class="save-btn" type="submit">
        {{ isEditMode ? "Save Changes" : "Add Technology" }}
      </button>
      <button
        class="cancel-btn"
        type="button"
        (click)="router.navigate(['/admin/technologies'])"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
